@import "../01_settings.scss";

body {
  div.map-section {
    @include mobile-screen {
      display: none;
    }
  }
}

main {

  h1 {
    text-align: center;
  }

  section.categories-list, .recipes-list {
    margin-top: 5vh;
    width: 100%;
    display: flex;
    align-items: flex-start;

    @include desktop-screen {
      flex-flow: row wrap;
    }

    @include mobile-screen {
      flex-flow: column wrap;
      align-items: center;
      width: 100%;
    }

    div {
      display: flex;
      justify-content: center;
      flex-flow: column;
      padding: 5%;

      @include desktop-screen {
        width: 40%;
      }

      h2 {
        text-align: center;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
