$davys-grey: lighten(#010101, 5%);
$white: #ffffffff;
$blue-green: #009acdff;
$lava: #cf081fff;

$mobileScreenMaxSize: 1024px;

@mixin mobile-screen {
  @media (max-width: $mobileScreenMaxSize) {
    @content;
  }
}

@mixin desktop-screen {
  @media (min-width: $mobileScreenMaxSize + 1) {
    @content;
  }
}
