* {
  color:  $davys-grey;
}

body {
  display: flex;
  max-width: 100vw;
  @include desktop-screen {
    max-height: 100vh;
    overflow-y: hidden;
  }
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

p, small {
  color: $davys-grey;
}

h1, h2 {
  color: $lava;
  font-weight: 800;
}

h3, h4, h5, h6 {
  color:  $davys-grey;
  font-weight: 800;
}

ul {
  li {
    list-style-type: none;
    margin: 20px 0;
    color:  $davys-grey;
  }
}

@media (max-width: 1024px) {
  body {
    flex-flow: column-reverse;
  }
}

@media (min-width: 1025px) {
  body {
    height: 100vh;
    max-height: 100vh;
    flex-flow: row-reverse;

    div.web-section {
      width: 50%;
    }

    div.map-section {
      width: 50%;
    }
  }

}

