
div.map-section {
  background-color: $blue-green;
  margin: 0;
  justify-content: center;
  justify-items: center;
  text-align: center;

  div.galicia-logo {
    margin-top: 3vh;
    text-align: center;
    justify-items: center;

    img {
      width: 30%;
    }
  }

  div.galicia-map {
    margin-top: 3vh;
    text-align: center;
    justify-items: center;

    canvas {
      width: 70%;
    }
  }
}


div.web-section {
  display: flex;
  width: 100%;
  flex-flow: column;
  background-color: $white;
  margin: 0;

  nav {
    display: flex;
    width: 100%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    box-shadow: 0 2px 2px -2px $davys-grey;


    @include desktop-screen {
      flex-flow: row;
      justify-content: center;
      margin-top: 3vh;
    }

    @include mobile-screen {
      flex-flow: column;
      align-items: center;
      margin-top: 3vh;
    }

    a {
      display: flex;
      color: $davys-grey;
      background-color: $blue-green;
      text-decoration: none;
      font-weight: 800;
      text-align: center;
      border: solid 1px $davys-grey;

      @include desktop-screen {
        flex-flow: row wrap;
        padding: 30px 1.5vw;
      }

      @include mobile-screen {
        flex-flow: column wrap;
        width: 40%;
        padding: 20px 30px;
        margin: 5px 0;
      }

      &:hover {
        color: lighten($davys-grey, 15%);

        i {
          color: lighten($davys-grey, 15%);
        }
      }
    }
  }

  main {
    min-height: 20vh;
    @include desktop-screen {
      display: flex;
      width: 100%;
      flex-flow: column;
      align-items: center;
      overflow-y: auto;
      min-height: 70vh;
    }

    @include mobile-screen {
      width: 100%;
    }


    article {
      margin: 2vh 2vw;

      &.recipe-article {

        @include desktop-screen {
          display: flex;
          flex-flow: column wrap;
          margin: 20px 2vh;
        }


        h1, h2 {
          text-align: center;

          &.article-with-subtitle {
            margin-bottom: 0;

            + * {
              text-align: center;
              margin-top: 0;
              margin-bottom: 2vh;

              &:after {
                content: ')';
              }

              &:before {
                content: '(';
              }
            }
          }

          &:not(.article-with-subtitle) {
            margin-bottom: 2vh;
          }
        }

        div.article-container {
          position: relative;
          margin-top: 5vh;

          div.round-image {
            width: 50%;
            border-radius: 50%;
            float: left;
            shape-outside: circle();

            img {
              border-radius: 50%;
              width: 70%;
            }
          }

          ul {
            li {
              list-style-type: decimal;
              margin: 20px 0;
            }
          }

          div.article-video {
              width: 80%;
              margin: 0 auto;
          }
        }
      }
    }

    .comarca-wrapper {
      display: flex;
      justify-content: center;
      .comarca-image {
        display: flex;
        width: 80%;
        img {
          width: 100%;
        }
      }
    }

  }

  footer {
    margin-top: 2vh;
    display: grid;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;

    .footer-wrapper {
      display: grid;
      grid-gap: 1.5em;
      justify-items: center;
      justify-content: center;
      align-content: center;
      align-items: center;

      @include desktop-screen {
        grid-template-columns: 1fr 2fr 1fr;
        width: 100%;
        grid-template-areas:
              'footer-inicio footer-logo footer-comarcas'
              'footer-presentacion footer-logo footer-links';
      }

      @include mobile-screen {
        grid-template-columns: minmax(200px, 350px);
        width: 100%;
        grid-template-areas:
        'footer-inicio'
        'footer-comarcas'
        'footer-presentacion'
        'footer-links'
        'footer-logo';
      }


      .footer-inicio {
        grid-area: footer-inicio;
        justify-self: self-end;
      }

      .footer-comarcas {
        grid-area: footer-comarcas;
      }

      .footer-presentacion {
        grid-area: footer-presentacion;
      }

      .footer-links {
        grid-area: footer-links;
      }

      .footer-logo {
        grid-area: footer-logo;

        @include desktop-screen {
          width: 50%;
        }

        @include mobile-screen {
          width: 50%;
        }


        img {
          width: 100%;
        }
      }

    }


  }
}





