div.galicia-logo {
  margin-top: 3vh;
  text-align: center;
  justify-items: center;
  img {
    width: 30%;
  }
}

div.galicia-map {
  margin-top: 3vh;
  text-align: center;
  justify-items: center;
  canvas {
    width: 70%;
  }
}
