.lava-text {
  color: $lava;
}

.davys-grey-text {
  color: $davys-grey;
}

.bold {
  font-weight: 600;
}

a.nav-link-active {
 color: darken($white, 20%) !important;
  i {
    color: darken($white, 20%) !important;
  }
}

.display-only-desktop {
  @include mobile-screen {
    display: none !important;
  }
}

.display-only-mobile {
  @include desktop-screen {
    display: none !important;
  }
}

ul.no-numbers {
  li {
    list-style-type: circle !important;
  }
}
